<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tofu.logging.ELKLayout">

            </layout>
        </encoder>
    </appender>

    <logger name="tbank.ab" level="DEBUG"/>
    <logger name="org.http4s.client" level="DEBUG"/>
    <logger name="sttp.tapir.server.http4s" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>