.idea
.metals
project/target
target
logs
dist
.DS_Store

.bloop
deployment/.artifacts/
.temp/
.sbt-cache

.ipynb_checkpoints
notes/.ipynb_checkpoints
!/notes/.ipynb_checkpoints
.bsp/sbt.json
.bsp
**/metals.sbt

project/metals.sbt
project/project
*.iml
.vscode
.jvmopts

**/__pycache__
